body {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
}

/* Sidebar styles */
.sidebar {
    min-width: 280px;
    background-color: #343a40;
    padding: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #495057;
    text-decoration: none;
}

.sidebar .active {
    background-color: #007bff;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 80%;
}

/* Pie de página */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}